<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936094334889-vnkvu5fnnlbnd6em6e2ogsun2mlvqjrc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936094334889-vnkvu5fnnlbnd6em6e2ogsun2mlvqjrc</string>
	<key>API_KEY</key>
	<string>AIzaSyCIABzlzWIzsHdvALvvYyW6Fz4YjTlWpYs</string>
	<key>GCM_SENDER_ID</key>
	<string>936094334889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.QuickSaver</string>
	<key>PROJECT_ID</key>
	<string>quicksavings-cbee8</string>
	<key>STORAGE_BUCKET</key>
	<string>quicksavings-cbee8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936094334889:ios:b6d087edbf7428dd0c8eb8</string>
	<key>DATABASE_URL</key>
	<string>https://quicksavings-cbee8.firebaseio.com</string>
</dict>
</plist>